
/********************************
RESPONSIVE
********************************/

/* Tablet Version - 768 > */
@media screen and (min-width: 768px) {

    /* Jumbotron */
    .jumbotron {
        max-height: 540px;
    }

    .jumbotron-intro h2 {
        font-size: 35px;
    }
    
    .jumbotron-intro p {
        font-size: 21px;
    }

    /* Brand Section */
    .brand-section {
        min-height: 200px;
    }

    .brand-section .brands {
        position: relative;
        bottom: 20px;
    }

    .brand-section .brands ul li{
        width: calc((100% / 6) - 10px);
        margin-right: 5px;
        margin-left: 0;
    }

    /* First Slide Section */
    .first-slide-intro {
        margin-top: 60px;
        margin-bottom: 100px;
    }
    
    .first-slide-section p {
        margin-bottom: 60px;
    }
}

/* Desktop Version - 992 > */
@media screen and (min-width: 992px) {

    /* Jumbotron */
    .jumbotron {
        max-height: 500px;
    }
    
    .jumbotron-intro h2 {
        font-size: 50px;
    }

    /* First Slide Section */
    .first-slide-intro {
        margin-bottom: 60px;
    }
    
    .first-slide-section p {
        margin-bottom: 10px;
    }

}